@import url(https://fonts.googleapis.com/css?family=Dosis|Arvo);

$nunito: 'Dosis';
$arvo: 'Arvo';

.wrapper {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.Home-titleslide {
  background-color: #FFC929;
  height: 100vw;

  p {
    font-size: 23px;
    font-family: $nunito;
    text-transform: uppercase;]
    letter-spacing: 4px;
  }

  h1 {
    font-size: 90px;
    font-family: $arvo;
    font-weight: 500;
  }
}

.Home-navigation {

  ul {
    list-style-type: none;
    padding: 10px;
    margin: 20px auto auto 20px;
    color: white;
    font-size: 20px;
    letter-spacing: 2px;
  }

  li {
    margin: 20px 0;
    text-transform: uppercase;
    font-weight: 600;
    font-family: $nunito;
  }

}
