@import url(https://fonts.googleapis.com/css?family=Dosis|Arvo);
.wrapper {
  display: grid;
  grid-template-columns: 2fr 1fr; }

.Home-titleslide {
  background-color: #FFC929;
  height: 100vw;
  box-shadow: 15px 3px 5px 0px #187581; }

.Home-logo {
  margin: 50px; }
  .Home-logo p {
    font-size: 23px;
    font-family: "Dosis";
    text-transform: uppercase;
    letter-spacing: 4px;
    margin: 0px; }
  .Home-logo h1 {
    font-size: 90px;
    font-family: "Arvo";
    font-weight: 500;
    margin: 0px; }

.Home-navigation ul {
  list-style-type: none;
  padding: 10px;
  margin: 20px auto auto 20px;
  color: white;
  font-size: 20px;
  letter-spacing: 2px; }

.Home-navigation li {
  margin: 20px 0;
  text-transform: uppercase;
  font-weight: 600;
  font-family: "Dosis"; }

.Home-navigation a {
  color: inherit;
  text-decoration: none; }
